@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
a{
    text-decoration: none;
    padding:50px;
    font-size: 20px;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(87, 4, 4);
    overflow: hidden;
    background-size: cover;
} 

body{
  background-color:rgb(241, 241, 241);
}

marquee{
  background-color:red;
  font-size:20px;
  color:white;
}
@font-face {
  font-family: MistralG;
  src: url(OPTIMistral-Graff.otf);
}

.logo{
    font-family: MistralG;
    font-size:50px;
    padding-right:100px;
    padding-left: 10px;
    color:white;
text-shadow:
            0 0 5px #fff, /* Inner white glow */
            0 0 10px #e8233a, /* Outer glow layer 1 (magenta) */
            0 0 20px #e8233a, /* Outer glow layer 2 (magenta) */
            0 0 30px #e8233a; /* Outer glow layer 3 (magenta) */
}

.nav:hover {
  background-color: darkred;
  color: black;
}

.reg{
    color:#fff;

}
.reg a:hover{
  color:gray;
  background-color: #821500;
}
button{
  background-color:darkred;
  color:#fff;
  border:0px;
  padding:15px;
  text-decoration: none;
  border-radius:12px;
  display:block;
  margin:auto;
   transition: all 0.2s ease-out;
}

button:hover{
background-color:rgb(103, 1, 1);
padding:12px;
 transition: all 0.2s ease-in;

}
.rose{
  display:block;
  margin:auto;
  width: 461px;
  
}
.noworky{
  background-color:black;
}
.text{
      font-family: MistralG;
    font-size: 70px;
    color:white;
text-shadow:
            0 0 5px #fff, /* Inner white glow */
            0 0 10px #e8233a, 
            0 0 20px #e8233a, 
            0 0 30px #e8233a; 
  display:flex;
  justify-content:center;
}
.sub{
  color:whitesmoke;
  font-size:20px;
  display:flex;
  justify-content: center;
}

.eotm{
  border-style:groove;
  border-width: 9px;
  border-color:rgb(227, 203, 67);
 
}

.imageflex img{
  width:200px;
  display:flex;
  justify-content:flex-start;
  justify-content: space-between;
  margin:50px;
    max-width: 100%;
  max-height:100%;
}



.logo:hover{
color:black;
}

.imageflex p{
font-size: 20px;
  padding-left: 20px;
  margin-left: 10px;
  margin-top:0px;
  padding-left:10px;
  font-family: Quantico;
  font-size:30px;
  text-shadow:
            0 0 5px #fff, 
            0 0 10px #e8233a, 
            0 0 20px #e8233a, 
            0 0 30px #e8233a; 
}

.nav:hover{
  color:#080808;
}

.back{
  border-radius:20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  

}
footer{
  padding:20px;
  background-color:#6e0606;
  color:white;
  text-decoration: none;
  display:flex;
  justify-content: center;
}
 html, body {
        margin: 0;
        padding: 0;
    }

    .banner{
      width:1320px;
    }

  footer a{
    color:white;
  }
  .bodies h1{
    display:flex;
    justify-content: center;
    font-family: Quantico;

  }

  .bodies a{
    padding:3px;
  color:darkred;
  }
  .bodies{
    font-size:18px;
  }

  

  .bodies img{
    width:400px;
    margin:20px;
  }


.side{
  display: inline-block;
  vertical-align: top;
}

body:before {
content: " ";
height: 100vh;
width: 100vw;
display: block;
position: fixed; 
top: 0; 
left: 0; 
z-index: 100;
background-image: url(https://i.postimg.cc/sgGfqCdM/dmc1-intro.gif);
background-size: cover;
background-repeat: no-repeat;
background-position:center;
animation: yourAnimation 8s ease 1s 1 normal forwards;
pointer-events: none;}
@keyframes yourAnimation { 0.0%{ opacity: 1;} 75%{ opacity: 1; } 100%{ opacity: 0;}
} 

i{
  font-size:10px;
}

 .contain {
  display: flex;
  align-items: center;
  justify-content: center
}

.banner{
   display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}