@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=TASA+Orbiter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
a{
    text-decoration: none;
    padding:50px;
    font-size: 20px;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(87, 4, 4);
    overflow: hidden;
} 

body{
  background-color:#f1f1f1;
}

marquee{
  background-color:red;
  font-size:20px;
  color:white;
}
@font-face {
  font-family: MistralG;
  src: url(OPTIMistral-Graff.otf);
}

.logo{
    font-family: MistralG;
    font-size:50px;
    padding-right:100px;
    padding-left: 10px;
    color:white;
text-shadow:
 0 0 5px #fff, 
  0 0 10px #e8233a, 
   0 0 20px #e8233a, 
 0 0 30px #e8233a; 
}



.reg{
    color:#fff;

}
.reg a:hover{
  color:gray;
  background-color: #821500;
}
button{
  background-color:darkred;
  color:#fff;
  border:0px;
  padding:15px;
  text-decoration: none;
  border-radius:12px;
  display:block;
  margin:auto;
   transition: all 0.2s ease-out;
}

button:hover{
background-color:rgb(103, 1, 1);
padding:12px;
 transition: all 0.2s ease-in;

}
.rose{
  display:block;
  margin:auto;
  width: 461px;
  
}
.noworky{
  background-color:black;
}
.text{
      font-family: MistralG;
    font-size: 70px;
    color:white;
text-shadow:
 0 0 5px #fff, 
  0 0 10px #e8233a, 
   0 0 20px #e8233a, 
 0 0 30px #e8233a; 
  display:flex;
  justify-content:center;
}
.sub{
  color:whitesmoke;
  font-size:20px;
  display:flex;
  justify-content: center;
}

.eotm{
  border-style:solid;
  border-width: 5px;
  border-color:rgb(105, 0, 0)
 
}




.logo:hover{
color:black;
}

.hidden{
  color:#f1f1f1;
}

.reg:hover{
  background-color:#3f0101;
  font-size:22px;
}

.back{
  border-radius:20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
 
  

}

footer{
  padding:20px;
  background-color:#6e0606;
  color:white;
  text-decoration: none;
  display:flex;
  justify-content: center;
 
}
 html, body {
        margin: 0;
        padding: 0;
    }

    .banner{
      width:1320px;
    }

  footer a{
    color:white;
  }
  .bodies h1{
    display:flex;
    justify-content: center;
    font-family: Quantico;

  }

  .bodies a{
    padding:3px;
  color:darkred;
  }
  .bodies{
    font-size:18px;
  }

  

  .bodies img{
    width:400px;
    margin:20px;
  }

.dante{
  float:left;
}

.side{
padding-top:20px;
}

i{
  font-size:10px;
}

 .contain {
  display: flex;
  align-items: center;
  justify-content: center
}

.banner{
   display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p{
  margin:10px;
  font-size: 15px;
  font-family:Roboto Slab;
}

.review{
  background-color:rgb(225, 225, 225);
  padding:20px;
width:400px;
}

.reviewcont{
  display:flex;
  margin:5px;
  padding:10px;
  justify-content:space-around;
  gap: 20px;
}

.review:hover{
  background-color:rgb(206, 206, 206);
}

.bodies h2{
  font-family: Quantico;
  display:flex;
  justify-content:center;
}

.bodies h3{
font-family: Quantico;
display:flex;
justify-content:center;
}

.service{
  background-color: rgb(236, 236, 236);
  padding:20px;
}

.servicecont{
  display:grid;
  gap:20px;
}

.service button{
float:right;
padding:15px;
}

.workcont img{
  width:100px;
  height:auto;
  display:block;
  margin:auto;
  border-radius:100px;
 
}

.workcont{
   display:flex;
  margin:10px;
  padding:10px;
  justify-content:space-around;
  gap:10px;
 
}

.work{
  background-color:rgb(225, 225, 225);
padding:10px;
border-radius:10px;
width:250px;
 transition: all 0.2s ease-out;
}
.workcont h3{
padding:10px;
padding-top:5px;
padding-bottom:5px;
font-family: Quantico;
display:flex;
justify-content: center;

}

.workcont h4{
  font-family:Roboto Slab;
  display:flex;
  justify-content:center;
}

.work:hover{
  background-color:rgb(206, 206, 206);
  width:255px;
  height:auto;
   transition: all 0.2s ease-in;
}

